* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  background-color: hsl(185, 75%, 39%);
  position: relative;
}

.top-circle {
  position: absolute;
  height: 600px;
  top: -20vh;
  right: 55%;
}

.bottom-circle {
  position: absolute;
  height: 600px;
  top: 40vh;
  left: 25%;
}
